* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none; }

.container {
  width: 1200px;
  margin: auto; }

body {
  font-family: "Roboto", sans-serif; }

.header {
  margin-bottom: 30px; }
  .header__encabezado {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    background-color: black;
    color: white;
    padding: 20px;
    margin-bottom: 30px; }
  .header__content {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header__content-logo a {
      font-family: "DM Serif Display", serif;
      color: #272727;
      font-size: 25px; }
    .header__content ul {
      display: flex;
      justify-content: space-around; }
      .header__content ul li {
        margin: 0 20px;
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px; }
        .header__content ul li a {
          text-decoration: none;
          color: black;
          transition: color 0.3s; }
          .header__content ul li a:hover {
            color: #272727;
            border-bottom: solid 2px #272727;
            padding-bottom: 10px; }

.banner {
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  height: 700px; }
  .banner__content {
    display: flex;
    flex-direction: column;
    padding: 300px 0 0 80px; }
    .banner__content h1 {
      color: white;
      font-size: 100px;
      padding-bottom: 20px;
      font-family: "DM Serif Display", serif; }
    .banner__content p {
      color: white;
      font-size: 25px;
      letter-spacing: 1px;
      padding-bottom: 40px;
      font-family: "DM Serif Display", serif; }
    .banner__content a {
      color: white;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 3px;
      text-align: center;
      padding: 15px;
      border: solid 2px white;
      width: 200px;
      transition: all 0.3s; }
      .banner__content a:hover {
        background-color: black;
        color: white;
        border: solid 2px black; }

.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px 0 50px 0; }
  .card .card-1 {
    font-family: "DM Serif Display", serif;
    font-size: 24px;
    text-transform: capitalize;
    text-align: center;
    height: 500px;
    background-image: url(../img/card-1.jpg); }
    .card .card-1 h2 {
      padding: 300px 0 30px 0;
      color: white;
      font-weight: 400;
      letter-spacing: 1px; }
    .card .card-1 a {
      color: white;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 3px;
      padding: 15px;
      border: solid 2px white;
      transition: all 0.3s; }
      .card .card-1 a:hover {
        background-color: black;
        border: solid 2px black; }
  .card .card-2 {
    font-family: "DM Serif Display", serif;
    font-size: 24px;
    text-transform: capitalize;
    text-align: center;
    height: 500px;
    background-image: url(../img/card-2.jpg);
    margin: 0 20px 0 20px; }
    .card .card-2 h2 {
      padding: 300px 0 30px 0;
      color: white;
      font-weight: 400;
      letter-spacing: 1px; }
    .card .card-2 a {
      color: white;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 3px;
      padding: 15px;
      border: solid 2px white;
      transition: all 0.3s; }
      .card .card-2 a:hover {
        background-color: black;
        border: solid 2px black; }
  .card .card-3 {
    font-family: "DM Serif Display", serif;
    font-size: 24px;
    text-transform: capitalize;
    text-align: center;
    height: 500px;
    background-image: url(../img/card-3.jpg); }
    .card .card-3 h2 {
      padding: 300px 0 30px 0;
      color: white;
      font-weight: 400;
      letter-spacing: 1px; }
    .card .card-3 a {
      color: white;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 3px;
      padding: 15px;
      border: solid 2px white;
      transition: all 0.3s; }
      .card .card-3 a:hover {
        background-color: black;
        border: solid 2px black; }
