.header {
    position: sticky;
    top: 0;
    background-color: $ColorHeader;
    height: 17.5vh;

    &__encabezado {
        text-align: center;
        font-family: $FuenteSecundaria;
        font-size: 14px;
        background-color: $ColorSecundario;
        color: white;
        padding: 20px;
        margin-bottom: 30px;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;

            &-logo {
                a {
                    font-family: $FuenteTerciaria;
                    color: $ColorSecundario;
                    font-size: 40px;
                }
            }

            &-navbar {
                ul {
                    display: flex;
                    justify-content: space-around;
    
                    li {
                        margin: 0 20px;
                        font-size: 14px;
                        font-family: $FuentePrimaria;
                        text-transform: uppercase;
                        font-weight: bold;
                        letter-spacing: 2px;
                        a {
                            text-decoration: none;
                            color: $ColorSecundario;
                            transition: color 0.3s;
    
                            &:hover{
                                color: $ColorPrimario;
                                border-bottom: solid 2px $ColorPrimario;
                                padding-bottom: 10px;
                            }
                        }
                    }
                }
                .active {
                    color: $ColorPrimario;
                    border-bottom: solid 2px $ColorTerciarioOscuro;
                    padding-bottom: 10px;
                }

            }

            &-rrss {
                ul {
                    display: flex;
                    justify-content: space-around;
                }

                li {
                    margin: 0 1rem;
                }
            }
            
    }
}

