.banner{
    background-image: url(../img/banner-2.jpg);
    background-repeat: no-repeat;
    height: 700px;

          &__content {
                display: flex;
                flex-direction: column;
                padding: 270px 0 0 80px;
                        h1 {
                            color: white;
                            font-size: 150px;
                            padding-bottom: 10px;
                            font-family: $FuenteTerciaria;
                        }
                        p {
                            color: white;
                            background-color: $ColorSecundario;
                            width: 680px;
                            font-size: 20px;
                            padding: 10px;
                            margin-bottom: 40px;
                            font-weight: 100;
                            font-family: $FuenteSecundaria;
                        }
                        a {
                            color: white;
                            font-family: $FuentePrimaria;
                            font-weight: bold;
                            text-transform: uppercase;
                            font-size: 14px;
                            letter-spacing: 3px;
                            text-align: center;
                            padding: 15px;
                            border: solid 1px white;
                            width: 200px;
                            transition: all 0.3s;

                            &:hover {
                                background-color: white;
                                color: black;
                            }
                        i {
                            margin-left: 1rem;
                        }
                        }
          }  
}

.metodos {
    &__content {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;

        &-info {
            margin: 4rem 0 4rem;
            text-align: center;

            article {
                width: 300px;
            }
            
            p {
                margin-bottom: 1rem;

                i {
                    font-size: 2.2rem;
                    color: $ColorSecundario;
                }
            }

            h3 {
                font-size: 1.7rem;
                text-transform: capitalize;
                font-weight: 400;
                font-family: $FuenteTerciaria;
                margin-bottom: 1rem;
            }

            h5 {
                font-size: 1rem;
                font-weight: 400;
                font-family: $FuenteSecundaria;
            }
        }
    }   
}

.card {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 20px 0 50px 0;

        @mixin card-base ($fondo) {
            font-family: $FuenteTerciaria;
            font-size: 24px;
            text-transform: capitalize;
            text-align: center;
            height: 500px;
            background-image: $fondo;
            background-size: cover;

                    h2 {
                        padding: 300px 0 30px 0;
                        color: white;
                        font-weight: 400;
                        letter-spacing: 1px;
                    }
                    
                    a {
                        color: white;
                        font-family: $FuentePrimaria;
                        font-weight: bold;
                        text-transform: uppercase;
                        font-size: 12px;
                        letter-spacing: 3px;
                        padding: 15px;
                        border: solid 1px white;
                        transition: all 0.3s;

                        &:hover {
                            background-color: white;
                            color: black;
                        }
                    }

                    i {
                        margin-left: 1rem;
                    }
        }

        .card-1{
            @include card-base(url(../img/card-1.jpg));
        }

        .card-2{
            @include card-base(url(../img/card-2.jpg));
            margin: 0 20px 0 20px;
        }

        .card-3{
            @include card-base(url(../img/card-3.jpg));
        }
}
.categorias {
    margin-bottom: 40px;

        &__content-title {
            font-family: $FuenteTerciaria;
            font-size: 1.2rem;
            letter-spacing: 0.1rem;
            text-align: center;
            margin-bottom: 40px;
        }

        &__content {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            
                article {
                text-align: center;

                    img {
                        margin-bottom: 10px;
                    }

                    p {
                        font-family: $FuenteSecundaria;
                    }
            }
        }
}

.info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

        &__content {
            padding: 50px;
            background-color: $ColorTerciario;
            width: 800px;
            height: 470px;

            h2 {
                font-family: $FuenteTerciaria;
                font-size: 60px;
                font-weight: 400;
                margin-bottom: 40px;
            }
            p {
                font-family: $FuenteSecundaria;
                font-size: 18px;
                margin-bottom: 100px;
            }
            a {
                color: white;
                font-family: $FuentePrimaria;
                font-weight: bold;
                text-transform: uppercase;
                font-size: 12px;
                letter-spacing: 3px;
                padding: 15px;
                background-color: $ColorSecundario;
                transition: all 0.3s;

                        &:hover {
                            background-color: white;
                            color: black;
                        }
             }

            &__content-img {
                 width: 500px;

             }
    }
}

.tienda {
    
    &-header {
        margin: 4rem 0 2rem;
        
        h2 {
            font-size: 5rem;
            letter-spacing: .2rem;
            font-family: $FuenteTerciaria;
        }

        p {
            font-size: 2rem;
            font-family: $FuenteSecundaria;
            margin-bottom: 2rem;
        }

        h4 {
            font-family: $FuenteTerciaria;
            font-size: 2rem;
        }

        ul {
            display: flex;
            justify-content: baseline;

            li {
                font-size: 1rem;
                text-transform: uppercase;
                font-family: $FuentePrimaria;
                letter-spacing: .25rem;
                margin-top: 2rem;
                margin-right: 2rem;

                a {
                    color: $ColorSecundario;
                    font-weight: bold;
                    border-bottom: solid 3px $ColorSecundario;
                    padding-bottom: 10px;
                }
            }
        }
        
    }

    &__productos {

        h3 {
            font-size: 2rem;
            margin-top: 2rem;
            text-align: center;
        }
        &-content {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            color: $ColorSecundario;

            &-btn-vaciar {
                    cursor: pointer;
                    color: white;
                    font-family: $FuentePrimaria;
                    font-weight: bold;
                    text-transform: uppercase;
                    font-size: .8rem;
                    letter-spacing: 3px;
                    padding: 1rem;
                    background-color: $ColorSecundario;
                    transition: all 0.3s;
                    margin-top: 2rem;

                    border: solid 2px $ColorSecundario;

                        &:hover {
                            background-color: white;
                            color: $ColorSecundario;
                            border: solid 2px $ColorSecundario;
                        }
            }

            &-img {
                text-align: center;
                margin: 2rem 0 2rem;
                img{
                    width: 300px;
                }
                h2 {
                    font-size: 1.5rem;
                    margin-top: 1rem;
                }
                p {
                    font-size: 1rem;
                    margin-top: .5rem;
                    margin-bottom: 1.5rem;
                }

                a.btn {
                    cursor: pointer;
                    color: white;
                    font-family: $FuentePrimaria;
                    font-weight: bold;
                    text-transform: uppercase;
                    font-size: .8rem;
                    letter-spacing: 3px;
                    padding: 1rem;
                    background-color: $ColorSecundario;
                    transition: all 0.3s;
                    margin-top: 2rem;

                    border: solid 2px $ColorSecundario;

                        &:hover {
                            background-color: white;
                            color: $ColorSecundario;
                            border: solid 2px $ColorSecundario;
                        }

                        i {
                            font-size: 1rem;
                            margin-right: .5rem;
                        }
             }
            }
        }

    }
}

.btn-rrss {
    color: white;
    padding: 12px;
    border-radius: 100%;
    font-size: 1rem;
    text-decoration: none;
    transition: all 0.5s;
    text-align: center;

    &:hover {
        color: $ColorIconos;
        background-color: white;
        border: none;
    }
}

.btn-facebook {
@extend .btn-rrss;
background-color: $ColorIconos;
}

.btn-instagram {
@extend .btn-rrss;
background-color: $ColorIconos;
}

.btn-carrito {
@extend .btn-rrss;
background-color: $ColorTerciarioOscuro;
}

/* CARRITO */

.carrito__vacio,
.carrito__comprado {
    color: $ColorPrimario;
    padding-top: 1rem;
    margin-bottom: 2rem;
}

.contenedor__carrito {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-bottom: solid .15rem black;

    h2 {
        margin: 3rem 0 3rem;
        font-size: 3rem;
    }

    &-productos {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        
    
        &-item {
            display: flex;
            justify-content: space-between;
            color: $ColorSecundario;
            padding: .5rem;
            padding-right: 1.5rem;
            align-items: center;

            &-titulo {
                width: 300px;
                font-size: 1.2rem;
            }
    
            small {
               font-size: 1rem; 
            }
    
            &-img{
                width: 5rem;
                border-radius: 1rem;
                margin-bottom: 1rem;
            }

            p {
                    font-size: 1.3rem;
                    font-weight: bold;
                }
            

            &-eliminar {
                border: 0;
                font-size: 1rem;
                background-color: $ColorSecundario;
                padding: .75rem;
                border-radius: 1rem;
                color: white;
                cursor: pointer;

                &:hover {
                    background-color: $ColorTerciario;
                    color: $ColorSecundario;
                }
            }
        
        }
    }

    &__acciones {
        margin-top: 3rem;
        display: flex;
        justify-content: space-between;

        &-izquierda {
            &-vaciar{
                border: 0;
                background-color: $ColorSecundario;
                padding: 1rem;
                color: white;
                border-radius: 1rem;
                text-transform: uppercase;
                cursor: pointer;
                font-weight: bold;

                &:hover {
                    background-color: $ColorTerciario;
                    color: $ColorSecundario;
                }
            }
        }

        &-derecha {
            display: flex;

            &-total {
                display: flex;
                border: 0;
                font-size: .75rem;
                background-color: $ColorTerciario;
                color: $ColorSecundario;
                font-weight: bold;
                padding: 1rem;
                text-transform: uppercase;
                border-top-left-radius: 1rem;
                border-bottom-left-radius: 1rem;

                

            }
            &-comprar {
                border: 0;
                padding: 1rem;
                background-color: $ColorSecundario;
                color: $ColorHeader;
                text-transform: uppercase;
                cursor: pointer;
                border-top-right-radius: 1rem;
                border-bottom-right-radius: 1rem;
                font-weight: bold;
                
                &:hover {
                    background-color: $ColorTerciario;
                    color: $ColorSecundario;
                }
            }
        }
        
    } 
}

.disabled {
    display: none;
}
