@media (max-width: 1440px) {
    .container {
        width: 1200px;
    }
}

@media (max-width: 1200px){
    .container {
        width: 1024px;
    }

    .header {
        position: fixed;
        z-index: 9;
        top: 0;
        transform: translateY(-100%);
        opacity: 0;
        visibility: hidden;
        transition: .2s;
        width: 100vw;
        height: 15rem;

        &__encabezado {
            font-size: .75rem;
            margin: 0;
        }

        &__content {

            flex-direction: column;

            &-logo {
                margin: 1rem 0 1rem;
                a {
                    font-size: 1.5rem;
                }
            }

            &-navbar {
                margin-bottom: 2rem;
            }
        }

    }

    .header-visible {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }

    .header-mobile {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .open-menu, .close-menu {
        background-color: transparent;
        color: $ColorIconos;
        border: 0;
        font-size: 2rem;
        cursor: pointer;
    }

    .close-menu {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .banner {
        width: 100%;

        h1 {
            font-size: 6rem;
        }
    }

    .tienda {
        &-header {
            h2 {
                font-size: 3rem;
            }

            p {
                font-size: 1rem;
            }

            h4 {
                font-size: 2rem;
                margin: 1rem 0 1rem;
            }

            ul {
                flex-flow: row wrap;
                justify-content: space-between;
                li {
                    margin-right: 1rem;
                }
            }
        }

        &__productos {

            &-content {
                grid-template-columns: repeat(3,1fr);

                &-img {
                    
                    align-self: center;
                    justify-self: center;
                }
            }
            
        }
    }


    .card {
       &-base {
                h2 {
                    font-size: 1.8rem;
                    padding: 500px 0 30px 0;
                }
            
        }
    }

    .info {
        display: grid;
        grid-template-columns: 1fr;

        &__content {
            width: 700px;
            padding: 34px;
        }

        &__content-img {
            display: none;
        }
    }

    .form {
        display: grid;
        grid-template-columns: 1fr;

        &__content {
            width: 700px;
            padding: 34px;
        }

        &__content-img {
            display: none;
        }
    }

    .footer__content {
        padding: 0 30px 0 30px;
    }
}

@media (max-width: 1024px) {
    .container {
        width: 768px;
    }

    .header {
        height: 14rem;

        &__content {

            &-navbar {
                margin-bottom: 1.2rem;
            }
        }

    }

    .contenedor__carrito {
        h2 {
            margin: 2rem 0 2rem;
            font-size: 2rem;
        }

        &-productos-item {
            &-titulo {
                small {
                    font-size: .75rem;
                }

                h3 {
                    font-size: 1.2rem;
                }
            }

            &-cantidad {
                
                small {
                        font-size: .75rem;
                }
                p {
                    font-size: 1rem;
                }

            }

            &-precio {
                
                small {
                        font-size: .75rem;
                }
                p {
                    font-size: 1rem;
                }

            }

            &-subtotal {
                
                small {
                        font-size: .75rem;
                }
                p {
                    font-size: 1rem;
                }

            }
        }

        &__acciones {

            &-izquierda {
                &-vaciar {
                    font-size: .75rem;
                }
            }

            &-derecha {
                &-comprar {
                    font-size: .75rem;
                }
            }
        }
    }

    .tienda {

        &__productos {

            &-content {
                grid-template-columns: 1fr 1fr;
            }
            
        }
    }

}

@media (max-width: 768px) {
    .container{
        width: 490px;
    }
    
    .header {
        height: 23rem;
        &__content {
            align-items: center;
            flex-flow: column wrap;
            align-content: center;
    
            ul {
                flex-flow: column wrap;
                align-items: center;
                align-content: center;
                    li {
                        margin: 0.5rem;
                    }
                } 
            
            &-rrss {
                ul {
                    flex-flow: row wrap;
                    li {
                        margin-top: 1rem;
                    }
                }
            }
            
            }
        }

    .banner {
        width: 100%;

        &__content {
            padding: 270px 0 0 40px;
        }

        h1 {
            font-size: 5rem;
        }

        p {
            font-size: 1.5rem;
            width: 430px;
            padding: 0.5rem;
        }
    }

    .tienda {

        &__productos {

            &-content {

                grid-template-columns: 1fr;

                &-img {

                    margin: 0;

                    img {
                        margin-top: 1rem;

                        a.btn {
                            margin-top: 1rem;
                        }
                    }
                }
            }
            
        }
    }

    .contenedor__carrito {
        h2 {
            margin: 1rem 0 1rem;
            font-size: 2rem;
        }

        &-productos {
            &-item {
               
                &-titulo {
                    width: 150px;
                }
            }
        }
        &-productos-item {
            &-titulo {
                small {
                    font-size: .75rem;
                }

                h3 {
                    font-size: 1.2rem;
                }
            }

            &-cantidad {
                
                small {
                        font-size: .75rem;
                }
                p {
                    font-size: 1rem;
                }

            }

            &-precio {
                
                small {
                        font-size: .75rem;
                }
                p {
                    font-size: 1rem;
                }

            }

            &-subtotal {
                
                display: none;

            }
        }

    }

    .card {
        display: grid;
        grid-template-columns: 1fr;

        .card-2 {
            margin: 0;
        }
    }

    .categorias {
        &__content {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .info {
        &__content {
            width: 100%;

            h2 {
                font-size: 2rem;
            }

            p {
                font-size: 1rem;
            }
        }
    }

    .form {
        &__content {
            width: 100%;

            h2 {
                font-size: 2rem;
            }

            p {
                font-size: 1rem;
            }

            &-campos {
                width: 250px;
            }
        }
    }

    .footer__content {
        display: flex;
        flex-flow: column wrap;

            ul {
                li {
                 margin: 1.2rem;
                }
            } 
    }
    
}

@media (max-width: 490px) {
    .container {
        width: 320px;
    }

    .banner {
        width: 100%;

        h1 {
            font-size: 4rem;
        }

        p {
            font-size: 1rem;
            width: 320px;
            padding: 0.2rem;
        }
    }

    .contenedor__carrito {
        h2 {
            margin: 1rem 0 1rem;
            font-size: 2rem;
        }

        &-productos {
            &-item {
               
                &-titulo {
                    width: 150px;
                }
            }
        }
        &-productos-item {
            &-titulo {
                display: none;
            }

            &-subtotal {
                
                display: none;

            }
        }

        &__acciones {

            flex-flow: row wrap;

            &-izquierda {
                padding-bottom: 1rem;
                &-vaciar {
                    padding: .8rem;
                    font-size: .65rem;
                }
            }

            &-derecha {
                &-comprar {
                    padding: .5rem;
                    font-size: .65rem;
                }
            }
        }

    }

    .categorias {
        &__content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .info {
        &__content {
            width: 290px;
            padding: 15px;

            h2 {
                font-size: 2rem;
            }

            p {
                font-size: 1rem;
                margin-bottom: 3.5rem;
            }

        }
    }

    .form {
        &__content {
            h2 {
                font-size: 2rem;
            }

            p {
                font-size: 1rem;
                margin-bottom: 2rem;
            }

            &-campos {
               width: 100px;
            }

        }
    }


    .footer__content {
        &-navbar {
            display: none;
        }
    }

}

@media (max-width: 340px) {
    .container {
        width: 300px;
    }
}

@media (max-width: 300px) {
    .container {
        width: 260px;
    }
}

@media (max-width: 260px) {
    .container {
        width: 240px;
    }
}
