$ColorPrimario: rgb(122, 122, 122);
$ColorSecundario: rgb(39, 39, 39);
$ColorTerciario: rgba(202,231,134,0.6);
$FuentePrimaria: 'Roboto', sans-serif;
$FuenteSecundaria: 'Poppins', sans-serif;
$FuenteTerciaria: 'DM Serif Display', serif;