$ColorPrimario: rgb(0, 0, 0);
$ColorSecundario: rgb(39, 39, 39);
$FuentePrimaria: 'Roboto', sans-serif;
$FuenteSecundaria: 'Poppins', sans-serif;
$FuenteTerciaria: 'DM Serif Display', serif;
$fondo: $ColorPrimario;