$ColorPrimario: rgb(122, 122, 122);
$ColorSecundario: rgb(39, 39, 39);
$ColorTerciario: rgba(202,231,134,0.6);
$ColorTerciarioOscuro: rgb(169, 224, 40);
$ColorWhatsapp: rgb(29, 214, 57);
$ColorIconos: rgb(73, 73, 73);
$ColorHeader: rgb(255, 255, 255);
$FuentePrimaria: 'Roboto', sans-serif;
$FuenteSecundaria: 'Poppins', sans-serif;
$FuenteTerciaria: 'DM Serif Display', serif;